@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
  background: #272727;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  height: 100%;
}

li, a, button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header{
  display: flex;
  width: 80%;
  margin: auto;
  height: 10vh;
  align-items: center;
  animation: drop 1s ease;
}
.logo-container, .nav-links, .cart{
  display:flex;
}
.logo-container{
  flex: 1;
}
.logo{
  font-weight: 500;
  margin: 5px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
}
.nav_header{
  flex: 2;
  position: relative;
  z-index: 1;
}
.nav-links{
  margin: -45px;
  padding: 0;
  list-style: none;
  justify-content: space-around;
  position: absolute;
}
.nav-links li{
  float: left;
}
.nav-links li:hover{
  background: rgb(75, 75, 75);
}
.nav-links li a{
  width: 200px;
  display: block;
  text-align: center;

}
.nav-link{
  font-size: 20px;
  padding: 10px 0 10px 0;
}
.nav-dropdown{
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}
.nav-links li:hover .nav-dropdown{
  display: block;
}
.nav-dropdown li{
  float: none;
}
.nav-link-drop{
  padding: 10px 0 10px 0;
}
.nav-link-drop:hover{
  background: rgb(104, 104, 104);
}
.cart{
  flex: 1;
  justify-content: flex-end;
}
.cta{
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.cta:hover{
  background-color: rgba(0,136,169,0.4);
  transition: 0.5s ease 0s;
}

footer{
  height: 10vh;
  color: #fff;
  text-align: center;
  align-items: center;
}
.footer-text{
  height: 60%;
}
.box{
  display: flex;
  min-height: 80vh;
  width: 80%;
  margin: auto;
  align-items: center;
  animation: drop 1s ease;
}
.box-text{
  flex: 1;
  background: rgba(255, 255, 255, 0.397);
}
.box-text p{
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}
.box-photo{
  flex: 1;
  z-index: 0;
}
.box-photo img{
  height: 60vh;
  filter: drop-shadow(0px 5px 5px black);
}

@keyframes drop{
  0%{
    opacity: 0;
    transform: translateY(-10px)
  }
  100%{
    opacity: 1;
    transform: translateY(0px)
  }
}
@keyframes show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}