@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
  background: #c9c7c7;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

li, a, button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: 'Montserrat', sans-serif;
  background: #272727;
  animation: drop 1s ease;
}
.logo{
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li{
  list-style: none;
  position: relative;
}
.nav-links a{
  letter-spacing: 1px;
}
.nav-links li a{
  display: block;
  font-size: 20px;
}
.nav-links li ul{
  display: none;
  position: absolute;
  background: #272727;
  border-radius: 0px 0px 6px 6px;
  padding: 10px;
  z-index: 2;
}
.nav-links li:hover ul{
  display: block;
}
.nav-links li ul li{
  width: 190px;
  border-radius: 4px;
}
.nav-links li ul li a{
  padding: 12px 14px;
}
.nav-links li ul li a:hover{
  background: #555555;
}
.toon{
  display: none;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #edf0f1;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1150px){
  .nav-links{
    width: 50%;
  }
}
@media screen and (max-width: 767px){
  body{
    overflow-x: hidden;
  }
  .container{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background: #272727;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
  .toon{
    display: block;
  }
  .weg{
    display: none;
  }
}
.nav-active{
  transform: translateX(0%);
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

footer{
  height: 10vh;
  color: #272727;
  text-align: center;
  align-items: center;
  animation: drop 1s ease;
}
.footer-text{
  height: 60%;
}

@keyframes drop{
  0%{
    opacity: 0;
    transform: translateY(-10px)
  }
  100%{
    opacity: 1;
    transform: translateY(0px)
  }
}
@keyframes show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.social-icon{
  font-size: 30px;
  margin-right: 20px;
  background: linear-gradient(to bottom right,rgb(64,93,230),rgb(131,58,180),rgb(225,48,108),rgb(245,96,64),rgb(252,175,69));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  transition: all 0.5s;
}
.box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  animation: drop 1s ease;
  margin: 0 50px;
}
.box-photo{
  flex: 1;
  padding: 50px;
}
.box-photo img{
  height: 30vw;
}
.box-text{
  flex: 1;
  color: rgb(230, 230, 230);
  margin-right: -50px;
  padding: 25px;
  font-size: 22px;
  background-color: rgb(134, 134, 134);
}
@media screen and (max-width: 850px){
  .box{
    flex-direction: column-reverse;
  }
  .box-photo img{
    height: 60vw;
  }
  .box-text{
    flex: 1;
    padding-bottom: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-top: -55px;
  }
}
.footer-text ul{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.footer-text ul li{
  list-style: none;
  margin: 0 15px;
}
.footer-text ul li .fab{
  font-size: 20px;
  line-height: 30px;
  transition: 0.6s;
  color: #000;
}
.footer-text ul li .fab:hover{
  color: #fff;
}
.footer-text ul li a{
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}
.footer-text ul li a:hover{
  transform: translateY(-5px);
}
.footer-text ul li:nth-child(1) a:hover{
  background-color: #3b5999;
}
.footer-text ul li:nth-child(2) a:hover{
  background-color: #e4405f;
}